.timeline-date-text {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align:center;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  float: center;
  padding: .8em 0;
  font-size:20px;
  color:#fff;
  text-align:center;  
  
}
.timeline-container h3{
color:#fff
}
.custom-date {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

