.vertical-timeline .vertical-timeline-element:before {
  /* Animation for drawing the timeline line */
  animation: drawLine 2s ease-in-out forwards;
}

/* Align left-side dates correctly */
.vertical-timeline-element--left .timeline-date {
  text-align: right !important;
  display: block;
  margin-right: 10px;
}

/* Align right-side dates correctly */
.vertical-timeline-element--right .timeline-date {
  text-align: left !important;
  display: block;
  margin-left: 10px;
}


@keyframes drawLine {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
.program-section {
  background-color: #f9f9f9; /* Light background for the section */
  padding: 50px 0;
}

.program-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  
}

.program-header {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.schedule-heading {
  font-size: 24px;
  color: #555;
  margin-bottom: 40px;
}
