/* Position the button at the bottom right of the page */
.scroll-to-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #033672; /* Background color */
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    z-index: 1000;
  }
  
  .scroll-to-top-btn:hover {
    background-color: #022e56; /* Darker shade when hovered */
  }
  
  .scroll-to-top-btn:focus {
    outline: none;
  }
  